.about{
  &-heading {
    padding: 0;
    @include small {
      padding-top: 2rem;
    }
    @include xsmall {
      padding-top: 2rem;
    }

    &::before {
      position: static;
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
      border-left: 0px solid transparent;
      border-right: 0px solid transparent;
    }
  
    &::after {
      position: static;
    }
  }

  .text {
    padding: 1.5rem 0;
  }
}