.contact {
  .text {
    padding: 2rem 0;
  }
  &-info {
    &__address,
    &__phone,
    &__email, 
    &__website {
      @include flex;

      i {
        align-self: center;
        color: $secondary-color;
      }

      p {
        padding: .5rem 1rem;
      }
    }
  }

  .form-control {
    border: {
      top: none;
      left: none;
      right: none;
    }
    border-radius: 0;
    background-color: transparent;
    padding-left: 0;
    font-weight: 500;

    &:hover,
    &:focus {
      @include placeholder {
        color: $secondary-color;
      }
      border-color: $secondary-color;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-group {
    padding-bottom: 2rem;
  }
}