.service {
  .card {
    @include flex;
    @include card-shadow;
    min-width: 100%;

    .service-icon {
      margin: 3rem auto;
      font-size: 3rem;
      height: 5rem;
      width: 5rem;
      background-color: $white;
      color: $secondary-color;
      border: 4px solid $white;
      @include box-shadow(0 0 5px #e4e4e4);
      @include flex-center;
      @include transition();

      // Media Query
      @include xsmall {
        font-size: 3rem;
        height: 4rem;
        width: 4rem;
      }
    }

    &-body {
      @include flex;
      align-items: center;
      flex-direction: column;

      .btn {
        margin-top: auto;
      }
    }

    .title {
      font-weight: 500;
    }

    .text {
      padding: 3rem 0;
      text-align: center;
    }

    .main-btn-w {
      max-width: 225px;
    }

    &:hover {
      .service-icon,
      .main-btn-w {
        background: $secondary-color;
        color: $white;
      }
      .title {
        color: $secondary-color;
      }
    }
  }
}